In [3]:
import numpy as np
import pandas as pd
import pdb

In [4]:
footballDataSet=pd.read_csv("Laliga.csv")
football=pd.DataFrame(footballDataSet)
football.head(50)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
20,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
21,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
23,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
24,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
25,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
26,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
27,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
28,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
29,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
30,31,Salamanca,12,375,423,123,102,198,422,581,-,-,-,-,-,-,-,1974-75,1998-99,7
31,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
32,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
33,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
34,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
35,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
36,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
37,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
38,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
39,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
42,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
43,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
44,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
47,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
48,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10

In [6]:
#replace '-' with 0
football=football.replace('-', 0)

In [16]:
#teams that exists between 1930 to 1980
#football['Debut']=pd.to_numeric(football['Debut'].str[:4])
teams = football[(football['Debut'] > 1930) & (football['Debut'] < 1980)]
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,44.55705705705706
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,41.11295681063123
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,35.146022155085596
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,35.06944444444444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,36.79738562091504
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,34.51118963486455
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,31.582537517053204
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,32.30452674897119
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,32.32169954476479
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,31.07569721115538
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34.22818791946309
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,33.70445344129555
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,33.48540145985402
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,29.380053908355798
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,28.987730061349694
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,29.941002949852507
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,29.29936305732484
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,31.376518218623485
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,24.744027303754265
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,28.109452736318406
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,0,1974,1998-99,7,29.078014184397162
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,30.28169014084507
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,23.214285714285715
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,30.83832335329341
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,29.078014184397162
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,26.881720430107524
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,28.921568627450984
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,29.444444444444446
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,29.310344827586203
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,27.77777777777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,32.22222222222222
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,25.0
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,19.11764705882353
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,23.333333333333332
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,23.333333333333332
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,16.666666666666664

In [5]:
#top five teams wrt points
football['Points']=football['Points'].astype(int)
football.nlargest(5, 'Points')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [27]:
def Goal_diff_count(typeValue):
    goalsDifferences = football.groupby('Team')['Team','GoalsFor','GoalsAgainst'].sum()
    goalsDifferences['GoalDifference'] = pd.to_numeric(goalsDifferences['GoalsFor'], errors='coerce') - pd.to_numeric(goalsDifferences['GoalsAgainst'], errors='coerce')
    if(typeValue =='difference'):        
        return goalsDifferences
    elif(typeValue=='maxmin'):
        maximumValue=goalsDifferences[['Team','GoalDifference']].max()
        minimumValue=goalsDifferences[['Team','GoalDifference']].min()
        return [maximumValue, minimumValue]

In [16]:
#find goal differnce
teamGoalDifference=Goal_diff_count('difference')
teamGoalDifference

                                    Team GoalsFor GoalsAgainst  GoalDifference
Team
AD Almeria                    AD Almeria       71          116             -45
Alaves                            Alaves      458          623            -165
Albacete                        Albacete      320          410             -90
Alcoyano                        Alcoyano      145          252            -107
Almeria                          Almeria      244          366            -122
Arenas                            Arenas      227          308             -81
Athletic Bilbao          Athletic Bilbao     4631         3700             931
Atletico Madrid          Atletico Madrid     4534         3309            1225
Atletico Tetuan          Atletico Tetuan       51           85             -34
Barcelona                      Barcelona     5900         3114            2786
Burgos CF                      Burgos CF      216          310             -94
Cadiz                              Cadiz      393          662            -269
Castellon                      Castellon      419          588            -169
Celta Vigo                    Celta Vigo     2278         2624            -346
Compostela                    Compostela      199          241             -42
Condal                            Condal       37           57             -20
Cordoba                          Cordoba      285          430            -145
Cultural Leonesa        Cultural Leonesa       34           65             -31
Deportivo La Coruna  Deportivo La Coruna     2052         2188            -136
Eibar                              Eibar      139          167             -28
Elche                              Elche      750         1022            -272
Espanyol                        Espanyol     3609         3889            -280
Europa                            Europa       97          131             -34
Extremadura                  Extremadura       62          117             -55
Getafe                            Getafe      520          633            -113
Gimnastic                      Gimnastic      181          295            -114
Girona                            Girona        0            0               0
Granada                          Granada      819         1157            -338
Hercules                        Hercules      716         1050            -334
Jaen                                Jaen      121          183             -62
...                                  ...      ...          ...             ...
Leganes                          Leganes       36           55             -19
Levante                          Levante      430          632            -202
Lleida                            Lleida       70          182            -112
Logrones                        Logrones      291          489            -198
Malaga                            Malaga     1421         1763            -342
Mallorca                        Mallorca     1182         1371            -189
Merida                            Merida       70          115             -45
Murcia                            Murcia      607          992            -385
Numancia                        Numancia      155          253             -98
Osasuna                          Osasuna     1500         1834            -334
Oviedo                            Oviedo     1642         1951            -309
Pontevedra                    Pontevedra      165          221             -56
Racing Santander        Racing Santander     1843         2368            -525
Rayo Vallecano            Rayo Vallecano      760         1088            -328
Real Betis                    Real Betis     2159         2492            -333
Real Burgos                  Real Burgos      101          139             -38
Real Madrid                  Real Madrid     5947         3140            2807
Real Sociedad              Real Sociedad     3228         3230              -2
Real Union                    Real Union      153          184             -31
Recreativo                    Recreativo      202          296             -94
Sabadell                        Sabadell      492          720            -228
Salamanca                      Salamanca      422          581            -159
Sevilla                          Sevilla     3680         3373             307
Sporting Gijon            Sporting Gijon     1753         2152            -399
Tenerife                        Tenerife      619          744            -125
Valencia                        Valencia     4398         3469             929
Valladolid                    Valladolid     1767         2180            -413
Villarreal                    Villarreal      892          789             103
Xerez                              Xerez       38           66             -28
Zaragoza                        Zaragoza     2683         2847            -164

[61 rows x 4 columns]

In [29]:
#max and min value
maxandminValue=Goal_diff_count('maxmin')
print(maxandminValue)

[Team              Zaragoza
GoalDifference        2807
dtype: object, Team              AD Almeria
GoalDifference          -525
dtype: object]

In [9]:
#winning percent
football['Winning Percent']= (pd.to_numeric(football['GamesWon'], errors='coerce')/pd.to_numeric(football['GamesPlayed'], errors='coerce'))*100
football['Winning Percent'].fillna(0, inplace=True)
football

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934-35,2001-02,1,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939-40,2012-13,2,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932-33,2015-16,1,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941-42,2014-15,1,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939-40,2012-13,4,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948-49,2013-14,4,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944-45,2015-16,2,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935-36,2016-17,4,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949-50,2008-09,4,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933-34,2000-01,3,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960-61,2012-13,3,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951-52,2015-16,2,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998-99,2013-14,2,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941-42,2016-17,6,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977-78,2015-16,8,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959-60,2014-15,5,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004-05,2015-16,6,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935-36,2010-11,5,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961-62,2009-10,5,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940-41,2007-08,11,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930-31,2016-17,6,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963-64,2015-16,6,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943-44,1987-88,4,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977-78,2005-06,12,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987-88,1996-97,7,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941-42,1990-91,4,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991-92,2004-05,7,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007-08,2014-15,8,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962-63,2014-15,5,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994-95,1997-98,10,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978-79,2008-09,8,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971-72,1979-80,12,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963-64,1969-70,7,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999-00,2008-09,17,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014-15,2014-15,10,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990-91,1992-93,9,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947-48,2006-07,7,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996-97,1998-99,17,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995-96,1997-98,19,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945-46,1950-51,10,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953-54,1957-58,14,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979-80,1980-81,10,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950-51,1993-94,16,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016-17,2016-17,17,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,2009-10,20,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,1956-57,16,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,1951-52,16,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,1955-56,15,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,2017-18,9,0.000000

In [10]:
#top 5 winning percent teams
football['Winning Percent']=football['Winning Percent'].astype(str)
football["Winning Percent"].rank(method='max') 
football[['Team', 'Winning Percent']].head(5)

              Team     Winning Percent
0      Real Madrid  59.630702389572775
1        Barcelona  57.241129616220135
2  Atletico Madrid   47.47513389441469
3         Valencia   44.55705705705706
4  Athletic Bilbao   43.77262853005069

In [11]:
##Group based on best position
bestpos=football.groupby('BestPosition')['Team','Points'].sum()
bestpos

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34